<html>
    <head>
        <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/lib/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/public/stylesheets/style.css">

        <script src="/public/lib/jquery/dist/jquery.js"></script>
        <script src="/public/lib/bootstrap/dist/js/bootstrap.js"></script>

    </head>
    <body>
        <%=user.image%>
        <%=user.name%>
        
    </body>
</html>